# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
*.egg-info/

# Ambientes virtuais
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Editor / SO
.vscode/
.idea/
.DS_Store

# Coverage
.coverage
htmlcov/
